<!DOCTYPE html>
<html>
    <head>
        <meta charset="uf8">
        <title>Meteo</title>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <style>
             h1{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 40px;
            }
            h2{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 10px;
            }
             h3{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                color: blueviolet;
            }
        </style>
  
         
             	<!-- Meta-Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="Collective UI Kit Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //Meta-Tags -->

	<!-- Custom-Stylesheet-Links -->
		<link rel="stylesheet" href="css/style.css" 														type="text/css" media="all">
		<link rel="stylesheet" href="css/clndr.css" 														type="text/css" media="all">
		<link rel="stylesheet" href="css/acornmediaplayer.base.css" 										type="text/css" media="all">
		<link rel="stylesheet" href="acornmediaplayer/acorn.access.css" 									type="text/css" media="all">
		<link rel="stylesheet" href="css/audio.css" 														type="text/css" media="all">
		<link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" 		type="text/css" media="all">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" 	type="text/css" media="all">
	<!-- //Custom-Stylesheet-Links -->

	<!-- Web-Fonts -->
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800" 		type="text/css" media="all">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" 			type="text/css" media="all">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100" 	type="text/css" media="all">
	<!-- //Web-Fonts -->

	<!-- Time-JavaScript -->
		<script>
			function startTime() {
				var today = new Date();
				var h = today.getHours();
				var m = today.getMinutes();
				var s = today.getSeconds();
				m = checkTime(m);
				s = checkTime(s);
				document.getElementById('txt').innerHTML = h + ":" + m + ":" + s;
				var t = setTimeout(startTime, 500);
			}
			function checkTime(i) {
				if (i < 10) {i = "0" + i};
				return i;
			}
		</script>
	<!-- //Time-JavaScript -->

	<!-- Chart -->
		<script src="js/Chart.js"></script>
	<!-- //Chart -->

</head>
<!-- //Head -->

<!-- Body -->
	<body onload="startTime()">
		<h1>{{title}}</h1>
		
		<!-- Wrap -->
		<div class="wrap">

			<!-- Navbar -->
			<nav style="width: 100%; text-align: center">
				<ul>
					<li style="float: none; display: inline-block; text-align:center">
						<div class="item-container" style="width:120%">
							<form action="/">
							<div class="item-top aits">Home</div>
							<div class="item-bottom w3l">
								<button type="submit" id="btn1">Home</button>
							</div>
							</form>
						</div>
					</li>
				
					<li style="float: none; display: inline-block; text-align:center">
						<div class="item-container" style="width:120%">
							<form action="/about">
							<div class="item-top aits">About</div>
							<div class="item-bottom w3l">
								<button type="submit" id="btn2">About</button>
								</div>
							</form>
						</div>
						
					</li>
				</ul>
			</nav>
			<!-- //Navbar -->
<script>


document.getElementById("btn1").disabled = false;
document.getElementById("btn1").style.backgroundColor="#191919";
document.getElementById("btn1").style.border="0px";
document.getElementById("btn1").style.color="#38b8ff";
document.getElementById("btn1").style.fontFamily="Arial, Helvetica, sans-serif";
document.getElementById("btn1").style.fontSize="17px";

document.getElementById("btn2").disabled = false;
document.getElementById("btn2").style.backgroundColor="#191919";
document.getElementById("btn2").style.border="0px";
document.getElementById("btn2").style.color="#38b8ff";
document.getElementById("btn2").style.fontFamily="Arial, Helvetica, sans-serif";
document.getElementById("btn2").style.fontSize="17px";				
	</script>


			<!-- Vertical-Grids -->
			<div class="vertical-grids">

				<!-- Vertical-Grid-1 -->
				<div class="vertical-grid vertical-grid-1 agileits w3layouts">

					<!-- File-Upload-Widget -->
					<div class="upload agileits w3layouts">
						<div class="upload-form agileits w3layouts">
							
								<div style="text-align:center">
									 <h1>{{texto}}</h1>
									  <h2 style="text-align: center; font-size:20px">{{subtitulo}}</h2>
									 <h2 style="text-align: center; font-size:40px">{{tempAtual}} ºC</h2>
             <p style="font-size:20px; color:#00b5c7">SENSAÇÃO TÉRMICA</p>
			 <p>{{textoTempAparente}}ºC</p>
			  <p style="font-size:20px; color:#00b5c7">POSSIBILIDADE DE CHUVA</p>
             <p>{{textoPrecipitacao}}%</p>
			 <p style="font-size:20px; color:#00b5c7">HUMIDADE</p>
             <p>{{textoHumidade}}%</p>
			 <p style="font-size:20px; color:#00b5c7">VENTO</p>
			 <p>sso {{textoVento}} mph</p>
			 <p style="font-size:20px; color:#00b5c7">PRESSÃO</p>
             <p>{{textoPressao}} hPa</p>
			 <p style="font-size:20px; color:#00b5c7">ÍNDICE UV</p>
             <p>{{textoUv}}</p>
			  <p style="font-size:20px; color:#00b5c7">VISIBILIDADE</p>
             <p>{{textoVisibilidade}} mi</p>
			 <br>
			 <p>{{info}}</p>
		
	
 <form action="/weather"><br>
 <p>Procura por outro local!</p>
         <input type="text" name="local" placeholder="260 Broadway, New York City, NY">
         <button type="submit">Envia!</button> 
        </form>
          </div>
		  	<div>
				  <br>
			<h2>Guarda este local nos teus favoritos</h2>
              <!--<form action="help.html"> --><button class="guardar">Guardar</button><!--</form>-->
              <div class="container">
      <form method="post" class="form-horizontal">
          <fieldset>
            <legend>Favoritos</legend>         
          </fieldset>                        
          <div class="row">
            <div class="col-md-6">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="label-item">Item</span>
                </div>
                <input type="text" class="form-control" id="item"/>
              </div>
            </div>
            <div class="col-md-6">
              <p id="shooping-list-text">Nenhum Item Adicionado</p>
              <ul class="list-group" id="shopping-list">
              </ul>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" id="submit" class="btn btn-primary">Adicionar</button>
            <button type="reset" id="clean"  class="btn btn-secondary">Limpar lista</button>
        </div>
      </form>
    </div>
    
    <!-- include jQuery library -->
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script>
    $(document).ready(function () {

       $("#shopping-list").hide();
       $("#item").focus();

      /*
       * check browser supports local storage
       */
      if (localStorage) {

        var shoppingList_string = localStorage.getItem('shoppingList');
        if (shoppingList_string) { //se o item existir 
          $("#shooping-list-text").hide(); 
          $("#shopping-list").show();
          var shoppingList = JSON.parse(shoppingList_string);
          console.log(shoppingList);
          $.each(shoppingList, (index, text) => { //each vai a cada elemento do array
            $("#shopping-list").append(`<li class="list-group-item">${text}</li>`);
          });
        }
        
        $("form")
          /*
           * clear local storage when the form is reseted
           */
           //quando o utilizador carregar no botao de reset, faz um clear do localStorage e um clear à pagina
          .on('reset', function(){
            console.log('cleaning!...');
            localStorage.clear();
            location.reload();
          })
          /*
           * add to local storage when the form is submitted
           */
           .submit(function(){
            var shoppingList_string = localStorage.getItem('shoppingList');
            var shoppingList =[];

            if(shoppingList_string) {
              shoppingList = JSON.parse(shoppingList_string);
            }
            shoppingList.push($("#item").val());
            localStorage.setItem('shoppingList', JSON.stringify(shoppingList));
            console.log(localStorage);
          })
      }
    });
    </script>
      
          </div>
		  </div>
		  
		  </div>
		  </div>
			
		  </div>
		  </div>
				<!-- //Vertical-Grid-1 -->



				<!-- Vertical-Grid-2 -->
				<div class="vertical-grid agileits w3layouts vertical-grid-2">

					<!-- Current-Weather-Widget -->
					<div class="weather-widget agileits w3layouts">
						<div class="place agileits w3layouts">

							<div class="city agileits w3layouts">
								  <p>{{texto8}}</p>
							</div>
							
							

						</div>



						<div class="weather-bottom agileits w3layouts">
							<ul>
								<li><h4>DOM</h4>
								
									<h5>{{texto11}}</h5>
									<h6>{{texto12}}</h6>
								</li>
								<li><h4>SEG</h4>
									
									<h5>{{texto13}}</h5>
									<h6>{{texto14}}</h6>
								</li>
								<li class="bg agileits w3layouts"><h4>TER</h4>
									
									<h5>{{texto15}}</h5>
									<h6>{{texto16}}</h6>
								</li>
								<li><h4>QUA</h4>
								
									<h5>{{texto17}}</h5>
									<h6>{{texto18}}</h6>
								</li>
                <li><h4>QUI</h4>
				
									<h5>{{texto19}}</h5>
									<h6>{{texto20}}</h6>
								</li>
                <li><h4>SEX</h4>
				
									<h5>{{texto21}}</h5>
									<h6>{{texto22}}</h6>
								</li>
								<li><h4>SÁB</h4>
								
									<h5>{{texto9}}</h5>
									<h6>{{texto10}}</h6>
								</li>
                
							</ul>
							<div class="clear"> </div>
						</div>
					</div>
					<!-- //Current-Weather-Widget -->


		</div>
		<!-- //Wrap -->



		<!-- Copyright -->
		<div class="copyright agileits w3layouts">
			<p> &copy; 2016 Collective UI Kit. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank"> W3layouts </a></p>
		</div>
		<!-- //Copyright -->



		<!-- Custom-JavaScript-File-Links -->

			<!-- Default-JavaScript --> <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>

			<!-- Slider-JavaScript -->
				<script src="js/responsiveslides.min.js"></script>
				<script>
					$(function () {
						$("#slider, #slider2").responsiveSlides({
							auto: true,
							nav: true,
							speed: 1500,
							namespace: "callbacks",
							pager: true,
						});
					});
				</script>
			<!-- //Slider-JavaScript -->


			<!-- File-Upload-Widget-JavaScript -->
				<!-- JavaScript-Includes -->
				<script src="js/jquery.knob.js"></script>
				<!-- JavaScript Includes -->

				<!-- jQuery-File-Upload-Dependencies -->
				<script src="js/jquery.ui.widget.js"></script>
				<script src="js/jquery.iframe-transport.js"></script>
				<script src="js/jquery.fileupload.js"></script>
				<!-- //jQuery-File-Upload-Dependencies -->

				<!-- Main JavaScript file -->
					<script src="js/script.js"></script>
				<!-- Main JavaScript file -->
			<!-- //File-Upload-Widget-JavaScript -->

			<!-- Weather-Widget-JavaScript -->
				<script src="js/skycons.js"></script>
				<script>
					var icons = new Skycons({"color": "#FFD700"}),
					list  = [
						"clear-day"
					],
					i;
					for(i = list.length; i--; )
					icons.set(list[i], list[i]);
					icons.play();
				</script>
				<script>
					var icons = new Skycons({"color": "#f5f5f5"}),
					list = [
						"clear-night", "partly-cloudy-day",	"partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind", "fog"
					],
					i;
					for(i = list.length; i--; )
					icons.set(list[i], list[i]);
					icons.play();
				</script>
			<!--//Weather-Widget-JavaScript -->

		
			<!-- Calender-JavaScript -->
				<script src="js/underscore-min.js"></script>
				<script src= "js/moment-2.2.1.js"></script>
				<script src="js/clndr.js"></script>
				<script src="js/site.js"></script>
			<!-- //Calender-JavaScript -->

			<!-- Slide-To-Top JavaScript -->
				<script type="text/javascript">
					$(document).ready(function() {
						var defaults = {
							containerID: 'toTop',
							containerHoverID: 'toTopHover',
							scrollSpeed: 100,
							easingType: 'linear',
						};
						$().UItoTop({ easingType: 'easeOutQuart' });
					});
				</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
			<!-- //Slide-To-Top JavaScript -->

			<!-- Smooth-Scrolling-JavaScript -->
				<script type="text/javascript" src="js/move-top.js"></script>
				<script type="text/javascript" src="js/easing.js"></script>
				<script type="text/javascript">
						jQuery(document).ready(function($) {
							$(".scroll, .navbar li a, .footer li a").click(function(event){
								$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
							});
						});
				</script>
			<!-- //Smooth-Scrolling-JavaScript -->

		<!-- //Custom-JavaScript-File-Links -->

	
   
       
    </body>
    <footer>
        Copyright Isabel Gonçalves and Mariana Braga - 2018 <!-- esta frase vai ficar em todas as paginas -->
    </footer>

</html>
         
